<?xml version="1.0"?>
<launch>
  <arg name="update_rate" default="60" />
  <arg name="show_debug_img" default="true" />
  <arg name="ball_color" default="" />

  <!-- load config into parameter server -->
  <rosparam file="$(find ball_tracking_rgb)/config/ball_tracking_config_$(arg ball_color).yaml" command="load" />
  <param name="ball_tracking_rgb/update_rate"       type="int"      value="$(arg update_rate)" />
  <param name="ball_tracking_rgb/img_output_path"   type="string"   value="$(find ball_tracking_rgb)/img/" />
  <param name="ball_tracking_rgb/show_debug_img"    type="boolean"  value="$(arg show_debug_img)" />

  <!-- start ball tracking node -->
  <node name="ball_tracking_rgb" pkg="ball_tracking_rgb" type="ball_tracking_node" output="screen"  />

  <!-- start ball model vis node -->
  <!-- only works  in indigo -->
  <node name="ball_tracking_rgb_vis" pkg="ball_tracking_rgb" type="ball_model_vis_node" output="screen" />
</launch>
