<?xml version="1.0"?>

<launch>
  <arg name="ns" default="turtlebot3" />

  <!-- start usb cam node -->
  <group ns="$(arg ns)" >
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
      <param name="camera_info_url" value="file://$(find turtlebot3_ball_tracking_exercise)/config/usb_camera.yaml" />
      <param name="camera_name" value="usb_cam"/> 

      <remap from="usb_cam/image_raw" to="sensor/camera/rgb/image_rect_color" />
      <remap from="usb_cam/camera_info" to="sensor/camera/rgb/camera_info" />
    </node>
  </group>

  <!-- start ball tracking node -->
  <include file="$(find turtlebot3_ball_tracking_exercise)/launch/ball_tracking.launch" ns="$(arg ns)">
    <arg name="show_debug_img" value="true" />
  </include>

  <!-- start static tf publisher -->
  <node name="camera_world_tf_publisher" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 world camera_link 100" />
</launch>
